{% extends 'newsletter/base.html' %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Сервис e-mail рассылок</h1>
      <p class="fs-5 text-body-secondary">Добро пожаловать в лучший сервис e-mail рассылок! Создайте свою базу клиентов, оформите письма и ведите статистику рассылок. Для начала добавьте клиента, напишите сообщение и создавайте рассылки для своих клиентов!</p>
    </div>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal">Клиенты</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              Количество клиентов: {{ client_count }}
              </br>__________________________
            </ul>
            <a type="button" class="btn btn-outline-primary " href="{% url 'newsletter:create_client' %}">Добавить</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal">Сообщения</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              Количество сообщений: {{ message_count }}
              </br>_____________________________
            </ul>
            <a type="button" class="btn btn-outline-primary " href="{% url 'newsletter:create_message' %}">Добавить</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal">Рассылки</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              Количество рассылок: {{ newsletter_count }}
              Количество активных рассылок: {{ active_newsletter }}
            </ul>
            <a type="button" class="btn btn-outline-primary " href="{% url 'newsletter:create_newsletter' %}">Добавить</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">

  </footer>
{% endblock %}