{% extends 'newsletter/base.html' %}

{% block content %}
{% load my_tags %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить материал</a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            {{ object.title }}
            </div>
            <img src="{% media_path object.image %}" class="card-img-top" alt="{{object.title}}">
            <div class="card-body">
            {{ object.body }}
            </div>
            <div class="card-footer">
                Просмотры {{ object.views_count }}
            </div>
            <a href="{% url 'blog:list' %}"
            class="btn btn-sm btn-outline-secondary">Назад</a>
        </div>
    </div>
</div>
{% endblock %}