{% extends 'newsletter/base.html' %}

{% block content %}
{% load my_tags %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить материал</a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            {{ object|title }}
            </div>
            <img src="{% media_path object.image %}" class="card-img-top" alt="{{object.title}}">
            <div class="card-body">
            {{ object.body }}
                <br>
                <br> Дата: {{ object.date_of_creation }}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'blog:view' object.pk %}"
                       class="btn btn-sm btn-outline-primary">Просмотр</a>
                    <a href="{% url 'blog:edit' object.pk %}"
                       class="btn btn-sm btn-outline-primary">Редактировать</a>
                    <a href="{% url 'blog:delete' object.pk %}"
                       class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% if object.is_published %}
                    <a href="{% url 'blog:toggle_activity' object.pk %}"
                       class="btn btn-sm btn-warning">Скрыть</a>
                    {% else %}
                    <a href="{% url 'blog:toggle_activity' object.pk %}"
                       class="btn btn-sm btn-warning">Опубликовать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}